.loginRegisterContainer{
    max-width: 600px;
    margin:0 auto;
}

.formField{
    border: 1px solid #000;
    padding: 1rem;
    width: 100%;
    color: #000;
    outline: none;
}

.formFieldWrapper{
    margin: 1em 0;
}

/*TODO need to center this submit button*/
.submitButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    max-width: 90%;
    margin: auto;
    padding: 2em;
}

  .link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .link:hover {
    color: darkblue;
  }